*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.container {
  max-width: 600px;
  margin: 40px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 55px;
}
h2 {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: -0.045em;

  color: #333333;
}
h4 {
  position: relative;
}
label {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  color: #000000;
}
.input {
  display: flex;
  gap: 25px;
  padding-top: 10px;
}
input[type="text"] {
  border-radius: 12px;
  border: 1px solid #bdbdbd;
  width: 75%;
  padding-left: 15px;
}
input[type="checkbox"] {
  border: 1px solid #828282;
  box-sizing: border-box;
  border-radius: 4px;
  width: 24px;
  height: 24px;
}
input:focus,
button {
  outline: none;
}
.btn {
  background: #2f80ed;
  border: none;
  padding: 20px 40px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  border-radius: 12px;
  flex-grow: 1;
}
.categories {
  display: flex;
  justify-content: space-between;
  padding: 5px 50px;
}
.category {
  text-transform: capitalize;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  border: none;
  background: none;
  color: #333333;
  width: 89px;
  height: 21px;
}
article {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
hr {
  background: #bdbdbd;
  border: none;
  height: 1px;
}
.checkbox {
  text-align: left;
  display: flex;
  align-items: center;
  gap: 7px;
}
.active::after {
  content: "";
  min-width: 89px;
  display: block;
  position: relative;
  bottom: -90%;
  min-height: 4px;
  background: #2f80ed;
  border-radius: 4px 4px 0px 0px;
}
.completed {
  text-decoration: line-through;
}
::placeholder {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  /* Gray 3 */

  color: #828282;
}
